.summoners{
background-color: black;
height: 2000px;
color: white;
display: flex;
flex-direction: column;
text-align: left;
padding: 50px;
background: url("https://wallpaperaccess.com/full/3949076.jpg");
}
.summoner2{
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 26, 26);
    padding: 20px;
}
.icon{
    width: 100px;
    height: 100px;
    
}
.imputtext{
    width: 500px;
    height: 20px;
    margin-bottom: 50px;
}
p{
    margin-left: 20px;
}
.para{
    display: flex;
    flex-direction: column;
}